################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/P7CreateRestApi/.vs
/P7CreateRestApi.Tests/bin/Debug/net10.0
/P7CreateRestApi.Tests/obj/Debug/net10.0
/P7CreateRestApi.Tests/obj
/P7CreateRestApi.Tests/bin/Debug/net8.0
/P7CreateRestApi.Tests/Properties
